#dashboard-page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#dashboard-page-container aside {
  width: 440px;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#dashboard-page-container aside h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}
#dashboard-page-container aside p {
  line-height: 28px;
  margin-top: 24px;
}

#dashboard-page-container footer {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
#dashboard-page-container footer strong {
  font-weight: 800;
}

#dashboard-page-container .btn-create-orphanage {
  position: absolute;
  z-index: 10;
  right: 40px;
  bottom: 40px;
  width: 64px;
  height: 64px;
  background: #15C3D6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}
#dashboard-page-container .btn-create-orphanage:hover {
  background: #17D6EB;
}